@import "tailwindcss";

/* Text when selected */
::selection {
  background-color: #ffffffa0;
  color: #000;
}

::-moz-selection {
  background-color: #ffffffa0; /* Firefox */
  color: #000;
}

::-webkit-selection {
  background-color: #ffffffa0; /* Safari / old browsers */
  color: #000;
}

/* Hide scrollbar  */
::-webkit-scrollbar {
  display: none;
}

html,
body {
  -ms-overflow-style: none; /* Edge */
  scrollbar-width: none; /* Firefox */
  overflow: auto;
}

/* Infinite moving cards component */
@theme inline {
  --animate-scroll: scroll var(--animation-duration, 40s) var(--animation-direction, forwards) linear infinite;
 
  @keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }
}