@import "tailwindcss";

/* Text when selected */
::selection {
  background-color: #ffffffa0;
  color: #000;
}

::-moz-selection {
  background-color: #ffffffa0; /* Firefox */
  color: #000;
}

::-webkit-selection {
  background-color: #ffffffa0; /* Safari / old browsers */
  color: #000;
}

::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar  */
html,
body {
  -ms-overflow-style: none; /* Edge */
  scrollbar-width: none; /* Firefox */
  overflow: auto;
}
